﻿@using EVASPA.Model.DataModel
@model CardType

@{
    ViewBag.Title = "Chi tiết";
    var importHistories = ViewBag.ImportHistories as IEnumerable<ItemHistory>;
}

<h2>Chi tiết</h2>

<div>
    <h4>Loại phiếu</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinued)
        </dd>

    </dl>
</div>
<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Lịch sử nhập hàng</strong></div>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-1">Ngày</th>
                <th class="col-md-1">Số lượng</th>
                <th class="col-md-1">Đơn giá</th>
                <th class="col-md-4">Ghi chú</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var history in importHistories)
            {
                <tr>
                    <td>@history.Date.ToString("dd/MM/yyyy")</td>
                    <td>@history.Quantity.ToString("#,0")</td>
                    <td>@history.Price.ToString("#,0")</td>
                    <td>@history.Note</td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            @Html.ActionLink("Xóa", "DeleteHistory", "ItemHistory", new { id = history.Id }, null)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("<< Quay lại", "Index")
</p>
