﻿@model IEnumerable<EVASPA.Model.DataModel.CardType>

@{
    ViewBag.Title = "Loại phiếu";
}

<h2>Loại phiếu</h2>

<p>
    @Html.ActionLink("Thêm mới...", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="number">
                    @Html.DisplayFor(modelItem => item.DefaultPrice)
                </td>
                <td class="number">
                    @Html.DisplayFor(modelItem => item.QuantityInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Nhập", "Import", "ItemHistory", new { itemId = item.Id, returnUrl = Request.Url.LocalPath }, null) |
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
