﻿@using EVASPA.Model.DataModel
@using EVASPA.Web.Utils
@{
    ViewBag.Title = "Trang chủ";

    var allCustomerWhoHasBirthdayIsToday = ViewBag.AllCustomerWhoHasBirthdayIsToday as IQueryable<Customer> ?? Enumerable.Empty<Customer>();
    var allCustomerWhoHasBirthdayIsInNextWeek = ViewBag.AllCustomerWhoHasBirthdayIsInNextWeek as IQueryable<Customer> ?? Enumerable.Empty<Customer>();
    var lowStockItems = ViewBag.LowStockItems as IQueryable<Item> ?? Enumerable.Empty<Item>();
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Khách hàng sinh nhật hôm nay</h3>
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var customer in allCustomerWhoHasBirthdayIsToday)
            {
                <li>
                    <a href="@Url.Action("Details","Customer",new { id = @customer.Id })">@Html.EvaSpa_GetCustomerName(customer) (@customer.Birthday.Value.ToString("dd/MM"))</a>
                </li>
            }
        </ul>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Khách hàng sinh nhật tuần sau</h3>
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var customer in allCustomerWhoHasBirthdayIsInNextWeek)
            {
                <li>
                    <a href="@Url.Action("Details","Customer",new { id = @customer.Id })">@Html.EvaSpa_GetCustomerName(customer) (@customer.Birthday.Value.ToString("dd/MM"))</a>
                </li>
            }
        </ul>
    </div>
</div>

@if (lowStockItems.Any())
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Sắp hết hàng</h3>
        </div>
        <div class="panel-body">
            <ul>
                @foreach (var item in lowStockItems)
                {
                    <li>@item.Name (@item.QuantityInStock)</li>
                }
            </ul>
        </div>
    </div>
}