﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - EVASPA</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ace")
    @Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:400,300")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
</head>

<body class="no-skin">
    @Html.Partial("_TopBar")
    <div class="main-container" id="main-container">
        @Html.Partial("_LeftMenu")
        <div class="main-content">
            @Html.Partial("_BreadCrumbs")
            <div class="page-content">
                <div>
                    <div class="page-header">
                        <h1>
                            @ViewBag.Title
                            <small>
                                <i class="ace-icon fa fa-angle-double-right"></i>
                                @ViewBag.Description
                            </small>
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
</body>
</html>
