﻿@using EVASPA.Model.DataModel
@model Service
@{
    var firstCardTypes = (ViewBag.AllCardTypes as IQueryable<CardType> ?? Enumerable.Empty<CardType>()).FirstOrDefault();
}
@Html.AddBodyScript(
    @<script>
        var AddServiceCard_txtPrice = $('#AddServiceCard_txtPrice');
        var AddServiceCard_txtQuantity = $('#AddServiceCard_txtQuantity');
        var AddServiceCard_txtDiscount = $('#AddServiceCard_txtDiscount');
        var AddServiceCard_lblMoney = $('#AddServiceCard_lblMoney');
        var AddServiceCard_txtQuantityInStock = $('#AddServiceCard_txtQuantityInStock');

        $('#btnAddServiceCard').click(function () {
            var cardTypeId = parseInt(AddServiceCard_cboAllCardTypes.val());
            var cardTypeName = AddServiceCard_cboAllCardTypes.find('option[value=' + cardTypeId + ']').text();
            var serviceId = parseInt(AddServiceCard_cboAllServices.val());
            var serviceName = AddServiceCard_cboAllServices.find('option[value=' + serviceId + ']').text();

            var quantityInStock = parseInt(AddServiceCard_txtQuantityInStock.val());
            if (quantityInStock < 1) {
                alert("Không đủ loại phiếu trong kho.");
                return;
            }

            var quantity = parseInt(AddServiceCard_txtQuantity.val());
            var price = parseInt(AddServiceCard_txtPrice.val());
            var discount = parseInt(AddServiceCard_txtDiscount.val());
            if (quantity <= 0 || price < 0 || discount < 0 || discount > price * quantity) {
                alert("Số lượng, đơn giá, giảm giá không phù hợp.");
                return;
            }

            AddServiceCardToCart(cardTypeId, cardTypeName, quantity, price, discount, AddServiceCard_lblMoney.text(), serviceId, serviceName);

            ClearAddForm(AddServiceCard_txtQuantity, AddServiceCard_txtDiscount, AddServiceCard_lblMoney);
            $('#modalAddServiceCard').modal('hide');
        });

        $(document).ready(function () {
            AddServiceCard_txtPrice.change({ txtPrice: AddServiceCard_txtPrice, txtQuantity: AddServiceCard_txtQuantity, txtDiscount: AddServiceCard_txtDiscount, lblMoney: AddServiceCard_lblMoney }, RefreshAddForm);
            AddServiceCard_txtQuantity.change({ txtPrice: AddServiceCard_txtPrice, txtQuantity: AddServiceCard_txtQuantity, txtDiscount: AddServiceCard_txtDiscount, lblMoney: AddServiceCard_lblMoney }, RefreshAddForm);
            AddServiceCard_txtDiscount.change({ txtPrice: AddServiceCard_txtPrice, txtQuantity: AddServiceCard_txtQuantity, txtDiscount: AddServiceCard_txtDiscount, lblMoney: AddServiceCard_lblMoney }, RefreshAddForm);

            AddServiceCard_cboAllCardTypes.change(function () {
                var selectedItemId = parseInt(AddServiceCard_cboAllCardTypes.val());
                var selectedItem = AddServiceCard_cboAllCardTypes.children('[value=' + selectedItemId + ']');
                AddServiceCard_txtQuantityInStock.val(selectedItem.attr('quantityinstock'));
            });

            AddServiceCard_cboAllServices.change({ txtPrice: AddServiceCard_txtPrice, txtQuantity: AddServiceCard_txtQuantity, txtDiscount: AddServiceCard_txtDiscount, lblMoney: AddServiceCard_lblMoney, cboItem: AddServiceCard_cboAllServices }, UpdatePriceThenRefresh);
        });
    </script>
            )

<div class="modal fade" id="modalAddServiceCard" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalAddServiceCard_Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalAddServiceCard_Title">Thêm phiếu dịch vụ</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Loại phiếu</label>
                    <div class="col-md-7" id="divAddServiceCard_cboAllCardTypes"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Trong kho</label>
                    <div class="col-md-7">
                        <input id="AddServiceCard_txtQuantityInStock" type="number" class="text-box single-line number" value="@(firstCardTypes != null ? firstCardTypes.QuantityInStock : 0)" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Dịch vụ</label>
                    <div class="col-md-7" id="divAddServiceCard_cboAllServices"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Đơn giá</label>
                    <div class="col-md-7">
                        <input id="AddServiceCard_txtPrice" type="number" class="text-box single-line number" value="@(Model != null ? Model.DefaultPrice : 0)" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Số suất</label>
                    <div class="col-md-7">
                        <input id="AddServiceCard_txtQuantity" type="number" class="text-box single-line number" value="1" step="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Giảm giá</label>
                    <div class="col-md-7">
                        <input id="AddServiceCard_txtDiscount" type="number" class="text-box single-line number" value="0" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Thành tiền</label>
                    <div class="col-md-7">
                        <label id="AddServiceCard_lblMoney" class="control-label number green" style="width: 192px;"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="btnAddServiceCard" type="button" class="btn btn-primary">Đồng ý thêm</button>
            </div>
        </div>
    </div>
</div>
