﻿@using EVASPA.Model.DataModel
@{
    var firstCardTypes = (ViewBag.AllCardTypes as IQueryable<CardType> ?? Enumerable.Empty<CardType>()).FirstOrDefault();
}
@Html.AddBodyScript(
    @<script>
        var AddMoneyCard_txtPrice = $('#AddMoneyCard_txtPrice');
        var AddMoneyCard_txtQuantity = $('#AddMoneyCard_txtQuantity');
        var AddMoneyCard_txtDiscount = $('#AddMoneyCard_txtDiscount');
        var AddMoneyCard_lblMoney = $('#AddMoneyCard_lblMoney');
        var AddMoneyCard_txtQuantityInStock = $('#AddMoneyCard_txtQuantityInStock');

        $('#btnAddMoneyCard').click(function () {
            var cardTypeId = AddMoneyCard_cboAllCardTypes.val();
            var cardTypeName = AddMoneyCard_cboAllCardTypes.find('option[value=' + cardTypeId + ']').text();

            var quantityInStock = parseInt(AddMoneyCard_txtQuantityInStock.val());
            if (quantityInStock < 1) {
                alert("Không đủ loại phiếu trong kho.");
                return;
            }

            var quantity = parseFloat(AddMoneyCard_txtQuantity.val());
            var price = parseFloat(AddMoneyCard_txtPrice.val());
            var discount = parseFloat(AddMoneyCard_txtDiscount.val());
            if (quantity <= 0 || price < 0 || discount < 0 || discount > price * quantity) {
                alert("Số lượng, đơn giá, giảm giá không phù hợp.");
                return;
            }

            AddMoneyCardToCart(cardTypeId, cardTypeName, quantity, price, discount, AddMoneyCard_lblMoney.text());

            ClearAddForm(AddMoneyCard_txtPrice, AddMoneyCard_txtDiscount, AddMoneyCard_lblMoney);
            $('#modalAddMoneyCard').modal('hide');
        });

        $(document).ready(function () {
            AddMoneyCard_txtPrice.change({ txtPrice: AddMoneyCard_txtPrice, txtQuantity: AddMoneyCard_txtQuantity, txtDiscount: AddMoneyCard_txtDiscount, lblMoney: AddMoneyCard_lblMoney }, RefreshAddForm);
            AddMoneyCard_txtQuantity.change({ txtPrice: AddMoneyCard_txtPrice, txtQuantity: AddMoneyCard_txtQuantity, txtDiscount: AddMoneyCard_txtDiscount, lblMoney: AddMoneyCard_lblMoney }, RefreshAddForm);
            AddMoneyCard_txtDiscount.change({ txtPrice: AddMoneyCard_txtPrice, txtQuantity: AddMoneyCard_txtQuantity, txtDiscount: AddMoneyCard_txtDiscount, lblMoney: AddMoneyCard_lblMoney }, RefreshAddForm);

            AddMoneyCard_cboAllCardTypes.change(function () {
                var selectedItemId = parseInt(AddMoneyCard_cboAllCardTypes.val());
                var selectedItem = AddMoneyCard_cboAllCardTypes.children('[value=' + selectedItemId + ']');
                AddMoneyCard_txtQuantityInStock.val(selectedItem.attr('quantityinstock'));
            });
        });
    </script>
        )

<div class="modal fade" id="modalAddMoneyCard" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalAddMoneyCard_Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalAddMoneyCard_Title">Thêm phiếu quà tặng</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Loại phiếu</label>
                    <div class="col-md-7" id="divAddMoneyCard_cboAllCardTypes"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Trong kho</label>
                    <div class="col-md-7">
                        <input id="AddMoneyCard_txtQuantityInStock" type="number" class="text-box single-line number" value="@(firstCardTypes != null ? firstCardTypes.QuantityInStock : 0)" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Tiền hạn mức</label>
                    <div class="col-md-7">
                        <input id="AddMoneyCard_txtPrice" type="number" class="text-box single-line number" value="0" step="1000" />
                    </div>
                </div>
                <div class="form-group row hidden">
                    <label class="control-label col-md-3">Số lượng</label>
                    <div class="col-md-7">
                        <input id="AddMoneyCard_txtQuantity" type="number" class="text-box single-line number" value="1" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Giảm giá</label>
                    <div class="col-md-7">
                        <input id="AddMoneyCard_txtDiscount" type="number" class="text-box single-line number" value="0" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Thành tiền</label>
                    <div class="col-md-7">
                        <label id="AddMoneyCard_lblMoney" class="control-label number green" style="width: 192px;"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="btnAddMoneyCard" type="button" class="btn btn-primary">Đồng ý thêm</button>
            </div>
        </div>
    </div>
</div>
