﻿@model EVASPA.Model.DataModel.Service

@Html.AddHeadScript("~/Scripts/UseProductInService.js")           

@Html.AddBodyScript(
    @<script>
        var AddService_txtPrice = $('#AddService_txtPrice');
        var AddService_txtQuantity = $('#AddService_txtQuantity');
        var AddService_txtDiscount = $('#AddService_txtDiscount');
        var AddService_lblMoney = $('#AddService_lblMoney');

        $('#btnAddService').click(function () {
            var selectedValue = parseInt(AddService_cboAllServices.val());
            var selectedText = AddService_cboAllServices.find('option[value=' + selectedValue + ']').text();
            var quantity = parseInt(AddService_txtQuantity.val());
            var price = parseInt(AddService_txtPrice.val());
            var discount = parseInt(AddService_txtDiscount.val());

            if (quantity <= 0 || price < 0 || discount < 0 || discount > price * quantity) {
                alert("Số lượng, đơn giá, giảm giá không phù hợp.");
                return;
            }

            var performerIds = AddService_cboAllEmployees.val();
            if (performerIds == null || performerIds.length <= 0) {
                alert("Chưa chọn nhân viên thực hiện.");
                return;
            }

            var performerNames = [];
            for (var j = 0; j< performerIds.length; j++) {
                performerNames.push(AddService_cboAllEmployees.find('option[value=' + performerIds[j] + ']').text());
            }

            var useProducts = [];
            var divUseProducts = $('div#divUseProducts').find('div.useproduct:not(.hidden)');
            for (var i = 0; i < divUseProducts.length; i++) {
                var cbo = $(divUseProducts[i]).find('select.product');
                var productId = parseInt(cbo.val());
                var productName = cbo.find('option[value=' + productId + ']').text();
                var productQuantity = parseInt($(divUseProducts[i]).find('input.product').val());

                useProducts.push({ id: productId, name: productName, quantity: productQuantity });
            }
            
            AddServiceToCart(selectedValue, selectedText,
                quantity, price, discount, AddService_lblMoney.text(),
                performerIds, performerNames, useProducts);

            ClearAddForm(AddService_txtQuantity, AddService_txtDiscount, AddService_lblMoney, AddService_cboAllEmployees);

            divUseProducts.each(function() {this.remove();});
            $('#modalAddService').modal('hide');
        });

        $(document).ready(function () {
            AddService_txtPrice.change({ txtPrice: AddService_txtPrice, txtQuantity: AddService_txtQuantity, txtDiscount: AddService_txtDiscount, lblMoney: AddService_lblMoney }, RefreshAddForm);
            AddService_txtQuantity.change({ txtPrice: AddService_txtPrice, txtQuantity: AddService_txtQuantity, txtDiscount: AddService_txtDiscount, lblMoney: AddService_lblMoney }, RefreshAddForm);
            AddService_txtDiscount.change({ txtPrice: AddService_txtPrice, txtQuantity: AddService_txtQuantity, txtDiscount: AddService_txtDiscount, lblMoney: AddService_lblMoney }, RefreshAddForm);
            AddService_cboAllServices.change({ cboItem: AddService_cboAllServices, txtPrice: AddService_txtPrice, txtQuantity: AddService_txtQuantity, txtDiscount: AddService_txtDiscount, lblMoney: AddService_lblMoney }, UpdatePriceThenRefresh);
        });
    </script>
                )

<div class="modal fade" id="modalAddService" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalAddService_Title" aria-hidden="true">
    <div class="modal-dialog" style="width:750px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalAddService_Title">Thêm dịch vụ</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Dịch vụ</label>
                    <div class="col-md-7" id="divAddService_cboAllServices"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">NV thực hiện</label>
                    <div class="col-md-7" id="divAddService_cboAllEmployees">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Đơn giá</label>
                    <div class="col-md-7">
                        <input id="AddService_txtPrice" type="number" class="text-box single-line number" value="@(Model != null ? Model.DefaultPrice : 0)" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Số lượng</label>
                    <div class="col-md-7">
                        <input id="AddService_txtQuantity" type="number" class="text-box single-line number" value="1" step="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Giảm giá</label>
                    <div class="col-md-7">
                        <input id="AddService_txtDiscount" type="number" class="text-box single-line number" value="0" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Thành tiền</label>
                    <div class="col-md-7">
                        <label id="AddService_lblMoney" class="control-label number green" style="width: 192px;"></label>
                    </div>
                </div>

                <hr />
                <div class="form-group row">
                    <label class="control-label col-md-3">Dùng kèm</label>
                    <div class="col-md-7">
                        <a href="#" onclick="UseNewProduct(); return false;">Thêm sản phẩm...</a>
                    </div>
                </div>
                <div id="divUseProducts" class="row">
                    <div class="form-group hidden useproduct">
                        <div class="control-label col-md-3"></div>
                        <div class="col-md-4 useproduct-allproducts">
                        </div>
                        <label class="control-label col-md-2">Số lượng</label>
                        <input type="number" class="text-box single-line number col-md-1 quantity" style="width:80px;" value="1" step="1" />
                        <a href="#" class="col-md-1" style="line-height: 34px;" onclick="$(this).parent().remove(); return false;">Xóa</a>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" id="btnAddService" class="btn btn-primary">Đồng ý thêm</button>
            </div>
        </div>
    </div>
</div>