﻿@model EVASPA.Model.DataModel.Product
@Html.AddBodyScript(
    @<script>
         var AddProduct_txtPrice = $('#AddProduct_txtPrice');
         var AddProduct_txtQuantity = $('#AddProduct_txtQuantity');
         var AddProduct_txtDiscount = $('#AddProduct_txtDiscount');
         var AddProduct_lblMoney = $('#AddProduct_lblMoney');
         var AddProduct_txtQuantityInStock = $('#AddProduct_txtQuantityInStock');

         $('#btnAddProduct').click(function () {
             var selectedValue = parseInt(AddProduct_cboAllProducts.val());
             var selectedText = AddProduct_cboAllProducts.find('option[value=' + selectedValue + ']').text();

             var quantityInStock = parseFloat(AddProduct_txtQuantityInStock.val());
             var quantity = parseFloat(AddProduct_txtQuantity.val());
             var price = parseFloat(AddProduct_txtPrice.val());
             var discount = parseFloat(AddProduct_txtDiscount.val());

             if (quantity > quantityInStock) {
                 alert("Không đủ sản phẩm trong kho.");
                 return;
             }
             if (quantity <= 0 || price < 0 || discount < 0 || discount > price * quantity) {
                 alert("Số lượng, đơn giá, giảm giá không phù hợp.");
                 return;
             }

             AddProductToCart(selectedValue, selectedText, quantity, price, discount, AddProduct_lblMoney.text());
             
             ClearAddForm(AddProduct_txtQuantity, AddProduct_txtDiscount, AddProduct_lblMoney);
             $('#modalAddProduct').modal('hide');
         });

         $(document).ready(function() {
             AddProduct_txtPrice.change({ txtPrice: AddProduct_txtPrice, txtQuantity: AddProduct_txtQuantity, txtDiscount: AddProduct_txtDiscount, lblMoney: AddProduct_lblMoney }, RefreshAddForm);
             AddProduct_txtQuantity.change({ txtPrice: AddProduct_txtPrice, txtQuantity: AddProduct_txtQuantity, txtDiscount: AddProduct_txtDiscount, lblMoney: AddProduct_lblMoney }, RefreshAddForm);
             AddProduct_txtDiscount.change({ txtPrice: AddProduct_txtPrice, txtQuantity: AddProduct_txtQuantity, txtDiscount: AddProduct_txtDiscount, lblMoney: AddProduct_lblMoney }, RefreshAddForm);
             AddProduct_cboAllProducts.change({ txtPrice: AddProduct_txtPrice, txtQuantity: AddProduct_txtQuantity, txtDiscount: AddProduct_txtDiscount, lblMoney: AddProduct_lblMoney, cboItem: AddProduct_cboAllProducts, txtQuantityInStock: AddProduct_txtQuantityInStock }, UpdatePriceThenRefresh);
         });
     </script>
    )

<div class="modal fade" id="modalAddProduct" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalAddProduct_Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalAddProduct_Title">Thêm sản phẩm</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Sản phẩm</label>
                    <div class="col-md-7 row" id="divAddProduct_cboAllProducts"></div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Trong kho</label>
                    <div class="col-md-7">
                        <input id="AddProduct_txtQuantityInStock" type="number" class="text-box single-line number" value="@(Model != null ? Model.QuantityInStock : 0)" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Đơn giá</label>
                    <div class="col-md-7">
                        <input id="AddProduct_txtPrice" type="number" class="text-box single-line number" value="@(Model != null ? Model.DefaultPrice : 0)" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Số lượng</label>
                    <div class="col-md-7">
                        <input id="AddProduct_txtQuantity" type="number" class="text-box single-line number" value="0" step="1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Giảm giá</label>
                    <div class="col-md-7">
                        <input id="AddProduct_txtDiscount" type="number" class="text-box single-line number" value="0" step="1000" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Thành tiền</label>
                    <div class="col-md-7">
                        <label id="AddProduct_lblMoney" class="control-label number green" style="width: 192px;"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="btnAddProduct" type="button" class="btn btn-primary">Đồng ý thêm</button>
            </div>
        </div>
    </div>
</div>
