﻿<tr id="itemTemplate" class="hidden">
    <td><a href='#' onclick='$(this).parent().parent().remove(); UpdatBillMoney(); return false;'>Xóa</a></td>
    <td class="text"></td>
    <td class='number price'></td>
    <td class='number quantity'></td>
    <td class='number discount'></td>
    <td class='number money'></td>
    <td class="hidden">
    </td>
</tr>
