﻿@using EVASPA.Model.DataModel
@using EVASPA.Web.Utils
@model EVASPA.Model.ViewModel.BillViewModel

@{
    ViewBag.Title = "Bán hàng";

    var billId = ViewBag.BillId as int? ?? 0;
    var allProducts = ViewBag.AllProducts as IQueryable<Product> ?? Enumerable.Empty<Product>();
    var allServices = ViewBag.AllServices as IQueryable<Service> ?? Enumerable.Empty<Service>();
    var allCardTypes = ViewBag.AllCardTypes as IQueryable<CardType> ?? Enumerable.Empty<CardType>();
    var allCustomers = ViewBag.AllCustomers as IQueryable<Customer> ?? Enumerable.Empty<Customer>();
    var allEmployees = ViewBag.AllEmployees as IQueryable<User> ?? Enumerable.Empty<User>();
}

@Html.AddStyle("~/css/datepicker")
@Html.AddStyle("~/css/select")

@Html.AddHeadScript("~/js/datepicker")
@Html.AddHeadScript("~/js/select")
@Html.AddBodyScript("~/Scripts/BillCreate.js", -100)

@Html.AddHeadScript(
    @<script>
         var UseMoneyCardUrl = '@Url.Action("UseMoneyCard","PrepaidCard")';
         var Cart;
         var cboSellerId;
         var cboCustomerId;
         var AddProduct_cboAllProducts;
         var AddService_cboAllServices;
         var AddService_cboAllEmployees;
         var AddMoneyCard_cboAllCardTypes;
         var AddServiceCard_cboAllCardTypes;
         var AddServiceCard_cboAllServices;
     </script>
    )

<h2>Bán hàng</h2>

@using (Html.BeginForm(null,null, FormMethod.Post,new{id="frmCreateBill" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-info">
        <div class="panel-heading text-warning"><strong>Thông tin chung</strong></div>
        <div class="panel-body">
            <input type="hidden" id="SellerId" name="SellerId" value="0" />
            <input type="hidden" id="CustomerId" name="CustomerId" value="0" />
            <div class="row">
                <div class="col-md-2"><label>Số hóa đơn</label></div>
                <div class="col-md-3 important red"><label>@billId.ToString("000000")</label></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Date)
                </div>
                <div class="col-md-3">
                    @Html.TextBox("Date", (Model == null || Model.Date == null) ? DateTime.Now.ToString("dd/MM/yyyy") : Model.Date, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.LabelFor(x => x.SellerId)</div>
                <div class="col-md-3" id="divSellerId">
                    @Html.ValidationMessageFor(model => model.SellerId)
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">@Html.LabelFor(x => x.CustomerId)</div>
                <div class="col-md-3" id="divCustomerId">
                    @Html.ValidationMessageFor(model => model.CustomerId)
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.LabelFor(x => x.Note)</div>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Note)
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><strong>Giỏ hàng</strong></div>
        <div class="panel-body">
            <div class="row right">
                <div class="col-md-4"></div>
                <div class="col-md-2"><button type="button" data-toggle="modal" data-target="#modalAddProduct" class="btn btn-primary col-md-12">Thêm sản phẩm</button></div>
                <div class="col-md-2"><button type="button" data-toggle="modal" data-target="#modalAddService" class="btn btn-primary col-md-12">Thêm dịch vụ</button></div>
                <div class="col-md-2"><button type="button" data-toggle="modal" data-target="#modalAddMoneyCard" class="btn btn-primary col-md-12">Thêm phiếu quà tặng</button></div>
                <div class="col-md-2"><button type="button" data-toggle="modal" data-target="#modalAddServiceCard" class="btn btn-primary col-md-12">Thêm phiếu dịch vụ</button></div>
            </div>

            <hr />

            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-5">Mặt hàng</th>
                        <th class="col-md-1">Đơn giá</th>
                        <th class="col-md-1">Số lượng</th>
                        <th class="col-md-1">Giảm giá</th>
                        <th class="col-md-1">Thành tiền</th>
                    </tr>
                </thead>
                <tbody id="cart">
                    @Html.Partial("_CartItemTemplate")
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading"><strong>Thanh toán</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label>Tổng hóa đơn</label></div>
                <div class="col-md-3">
                    <label id="lblBillMoney" class="number col-md-10 important">0</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>Dùng phiếu</label></div>
                <div class="col-md-3" id="divAllMoneyCards">
                    <a style="cursor:pointer;" data-toggle="modal" data-target="#modalUseMoneyCard">Thêm phiếu...</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">@Html.LabelFor(model=>model.CustomerMoney)</div>
                <div class="col-md-3">
                    <input id="CustomerMoney" name="CustomerMoney" type="number" step="1000" value="0" class="number" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label>Tiền thừa</label></div>
                <div class="col-md-3">
                    <label id="lblMoneyBack" class="number col-md-10 green red important">0</label>
                </div>
            </div>
        </div>
    </div>

    <div>
        <input type="submit" value="Đồng ý" class="btn btn-primary" />
    </div>
}

<select id="AllEmployees" class="hidden selectpicker show-tick" data-live-search="true">
    @foreach (var item in allEmployees)
    {
        <option value="@item.Id">@item.DisplayName</option>
    }
</select>

<select id="AllCustomers" class="hidden selectpicker show-tick" data-live-search="true">
    @foreach (var item in allCustomers)
    {
        <option value="@item.Id" data-content="@Html.EvaSpa_GetCustomerName(item, "["+item.Id+"] ")">@item.Name</option>
    }
</select>

<select id="AllProducts" class="hidden selectpicker show-tick" data-live-search="true">
    @foreach (var item in allProducts)
    {
        <option value="@item.Id" quantityinstock="@item.QuantityInStock" price="@item.DefaultPrice">@item.Name</option>
    }
</select>

<select id="AllServices" class="hidden selectpicker show-tick" data-live-search="true">
    @foreach (var item in allServices)
    {
        <option value="@item.Id" price="@item.DefaultPrice">@item.Name</option>
    }
</select>

<select id="AllCardTypes" class="hidden selectpicker show-tick" data-live-search="true">
    @foreach (var item in allCardTypes)
{
    <option quantityinstock="@item.QuantityInStock" value="@item.Id">@item.Name</option>
}
</select>

@Html.Partial("_AddProduct", allProducts.FirstOrDefault())
@Html.Partial("_AddService", allServices.FirstOrDefault())
@Html.Partial("_AddMoneyCard")
@Html.Partial("_AddServiceCard", allServices.FirstOrDefault())

<div class="modal fade" id="modalUseMoneyCard" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalUseMoneyCard_Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalUseMoneyCard_Title">Sử dụng phiếu</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group row">
                    <label class="control-label col-md-3">Mã phiếu</label>
                    <div class="col-md-7">
                        <input id="UseMoneyCard_txtPrice" type="text" class="text-box single-line" style="text-transform: uppercase;" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="control-label col-md-3"></div>
                    <label id="UseMoneyCard_lblError" class="control-label col-md-7 important red" style="text-align:left;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="UseMoneyCard_Add" type="button" class="btn btn-primary">Đồng ý thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmSubmit" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalConfirmSubmit_Title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalConfirmSubmit_Title">Xác nhận</h4>
            </div>
            <div class="modal-body form-horizontal">
                <p id="lblCreateDebt" class="important red">Khách hàng trả thiếu tiền.</p>
                <span>Bạn có muốn tạo hóa đơn?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="btnConfirmSubmitForm" type="button" class="btn btn-primary">Đồng ý thêm</button>
            </div>
        </div>
    </div>
</div>