﻿@{
    ViewBag.Title = "Xóa hóa đơn";
}

<h2>Xóa hóa đơn</h2>

<h4>Bạn có muốn xóa hóa đơn <b>@ViewBag.BillID</b>?</h4>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewBag.BillID"/>
        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý xóa" class="btn btn-default" />
        </div>
    }
</div>
