﻿@using EVASPA.Model.DataModel
@using EVASPA.Web.Utils
@model Bill
@{
    ViewBag.Title = "Chi tiết hóa đơn";
}

<h2>Chi tiết hóa đơn</h2>

<p>
    @Html.ActionLink("<< Quay lại", "Index")
</p>

@if (Model.IsDeleted)
{
    <div style="text-align:center;">
        <h3 style="color:red;">Hóa đơn này đã bị xóa!</h3>
    </div>
}
else if (User.IsInRoles("Admin", "Manager"))
{
    <div style="text-align:right;">
        @Html.ActionLink("Xóa hóa đơn", "Delete", new { id = Model.Id })
    </div>
}
<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Thông tin chung</strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Số hóa đơn</label></div>
            <div class="col-md-3 important red"><label>@Model.Id.ToString("000000")</label></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Date)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">@Html.LabelFor(x => x.Seller)</div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Seller.DisplayName)
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">@Html.LabelFor(x => x.Customer)</div>
            <div class="col-md-3">
                @Html.EvaSpa_GetCustomerName(Model.Customer)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">@Html.LabelFor(x => x.Note)</div>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.Note)
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><strong>Thanh toán</strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Tổng hóa đơn</label></div>
            <div class="col-md-3">
                <label class="number col-md-10 important">@Model.BillItems.Sum(i => i.FinalMoney).ToString("#,0.##")</label>
            </div>
        </div>
        @if (Model.UsedCards != null && Model.UsedCards.Any())
        {
            <div class="row">
                <div class="col-md-2"><label>Dùng phiếu</label></div>
                <div class="col-md-3">
                    @foreach (var cardHistory in Model.UsedCards)
                    {
                        <a href="@Url.Action("DetailsBySerial", "PrepaidCard", new { id = cardHistory.PrepaidMoneyCard.SerialNumber })" target="_blank" class="badge active" style="padding-bottom: 5px;text-transform: uppercase;line-height: 20px;">
                            <span class="cardNo">[@cardHistory.PrepaidMoneyCard.SerialNumber]</span> <span class="important red">@cardHistory.UsedAmount</span>
                        </a>
                    }
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-2">@Html.LabelFor(model => model.CustomerMoney)</div>
            <div class="col-md-3">
                <label class="number col-md-10 important">@Html.DisplayFor(x => x.CustomerMoney)</label>
            </div>
        </div>
        @if (Model.Debt != null)
        {
            <div class="row">
                <div class="col-md-2"><label>Nợ</label></div>
                <div class="col-md-3">
                    <label class="col-md-10 number"><a class="red important" href="@Url.Action("Details", "Debt", new { id = Model.DebtId })" target="_blank">@Model.Debt.Money.ToString("#,0.##")</a></label>
                </div>
            </div>
        }
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><strong>Giỏ hàng</strong></div>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-5">Mặt hàng</th>
                <th class="col-md-1">Đơn giá</th>
                <th class="col-md-1">Số lượng</th>
                <th class="col-md-1">Giảm giá</th>
                <th class="col-md-1">Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var billItem in Model.BillItems)
            {
                <tr>
                    <td class="text">
                        @if (billItem is BillItemProduct)
                        {
                            @:Sản phẩm - <strong>@((billItem as BillItemProduct).Product.Name)</strong>
                            }
                        else if (billItem is BillItemService)
                        {
                            var billItemService = billItem as BillItemService;
                            <div>Dịch vụ - <strong>@billItemService.Service.Name</strong></div>
                            <div class="sub">Nhân viên: <em class="important">@string.Join(", ", billItemService.Performers.Select(x => x.DisplayName))</em></div>

                            if (billItemService.UsedProducts != null && billItemService.UsedProducts.Any())
                            {
                                <div class="sub">Dùng kèm: <em class="important">@string.Join(", ", billItemService.UsedProducts.Select(x => string.Format("{0} ({1})", x.Product.Name, x.Quantity)))</em></div>
                            }
                        }
                        else if (billItem is BillItemCard)
                        {
                            var billItemCard = billItem as BillItemCard;
                            var prepaidCard = billItemCard.PrepaidCard;
                            if (prepaidCard is PrepaidMoneyCard)
                            {
                                <div>Phiếu quà tặng - <strong>@prepaidCard.CardType.Name</strong></div>
                                <div class="sub">Mã phiếu: <em class="red important">@Html.DisplayFor(x => prepaidCard.SerialNumber)</em></div>
                                <div class="sub">Hạn mức: <em class="important">@Html.DisplayFor(x => prepaidCard.Quota)</em></div>
                            }
                            else if (prepaidCard is PrepaidServiceCard)
                            {
                                <div>Phiếu dịch vụ - <strong>@prepaidCard.CardType.Name</strong></div>
                                <div class="sub">Mã phiếu: <em class="red important">@Html.DisplayFor(x => prepaidCard.SerialNumber)</em></div>
                                <div class="sub">Dịch vụ: <em class="important">@((prepaidCard as PrepaidServiceCard).Service.Name)</em></div>
                                <div class="sub">Số suất: <em class="important">@Html.DisplayFor(x => prepaidCard.Quota)</em></div>
                            }
                        }
                    </td>
                    <td class='number price'>@billItem.Price.ToString("#,0.##")</td>
                    <td class='number quantity'>@billItem.Quantity.ToString("#,0.##")</td>
                    <td class='number discount'>@((billItem.Discount ?? 0).ToString("#,0.##"))</td>
                    <td class='number money'>@billItem.FinalMoney.ToString("#,0.##")</td>
                </tr>
            }
        </tbody>
    </table>
</div>