﻿
@{
    ViewBag.Title = "Xem hóa đơn";
}

<h2>Xem hóa đơn</h2>

@using (Html.BeginForm("Details", "Bill", FormMethod.Get))
{
    <hr/>
    
    <div class="row">
        <div class="col-md-2"><label>Số hóa đơn</label></div>
        <div class="col-md-3 important">
            <input name="id" type="number"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <input type="submit" value="Đồng ý" class="btn btn-primary" />
    </div>
}
