﻿@{
    ViewBag.Title = "Lỗi không xác định!";
}

<h2>Lỗi không xác định!</h2>

<div class="jumbotron">
    <div>
        Coltroller: 
    </div>
    <div>
        View: 
    </div>
    <div>
        Exception: 
    </div>
</div>