﻿@using EVASPA.Web.Utils
@model EVASPA.Model.ViewModel.ReportDebtViewModel
@{
    ViewBag.Title = "Báo cáo nợ";
    var totalMoney = 0M;
}

<h2>Báo cáo nợ</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Từ ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.StartDate.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Đến ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.EndDate.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-1">Ngày</th>
            <th class="col-md-1">Hóa đơn</th>
            <th class="col-md-1">Hình thức</th>
            <th class="col-md-2">Khách hàng</th>
            <th class="col-md-1">Số tiền</th>
            <th class="col-md-4">Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr>
                <td>@line.Date.ToString("dd/MM/yyyy")</td>
                <td>@(line.BillId != null ? line.BillId.Value.ToString("000000") : string.Empty)</td>
                <td>@(line.IsPayDebt ? "Trả nợ" : "Nợ")</td>
                <td>@Html.EvaSpa_GetCustomerName(line.Customer)</td>
                <td class="number">@line.Money.ToString("#,#")</td>
                <td>@line.Note</td>
            </tr>
            totalMoney += line.Money;
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@totalMoney.ToString("0,0")</th>
            <th></th>
        </tr>
    </tfoot>
</table>