﻿@model EVASPA.Model.ViewModel.ReportEmployeeViewModel
@{
    ViewBag.Title = "Báo cáo nhân viên";
}

<h2>Báo cáo nhân viên</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Từ ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.StartDate.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Đến ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.EndDate.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Nghỉ phép</strong></div>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-8"></th>
                @foreach (var user in Model.Users)
                {
                    <th class="col-md-1">@user.DisplayName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var key in Model.LeavingByDate.Keys.OrderBy(x=>x))
            {
                <tr>
                    <td>@key.ToString("dd/MM/yyyy")</td>
                    @foreach (var user in Model.Users)
                    {
                        <th>
                            @(Model.LeavingByDate[key].ContainsKey(user) && Model.LeavingByDate[key][user].LeaveOnMorning ? Html.Raw("<span class='badge badge-blue'>Sáng</span>") : null)
                            @(Model.LeavingByDate[key].ContainsKey(user) && Model.LeavingByDate[key][user].LeaveOnAfternoon ? Html.Raw("<span class='badge badge-green'>Chiều</span>") : null)
                        </th>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Nghỉ buổi sáng</th>
                @foreach (var user in Model.Users)
                {
                    <th>@Model.UserLeaving[user].Count(x => x.LeaveOnMorning).ToString("#.#")</th>
                }
            </tr>
            <tr>
                <th>Nghỉ buổi chiều</th>
                @foreach (var user in Model.Users)
                {
                    <th>@Model.UserLeaving[user].Count(x => x.LeaveOnAfternoon).ToString("#.#")</th>
                }
            </tr>
        </tfoot>
    </table>
</div>

<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Làm việc</strong></div>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-8"></th>
                @foreach (var user in Model.Users)
                {
                    <th class="col-md-1">@user.DisplayName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var svc in Model.Services.OrderBy(x=>x.Name))
            {
                <tr>
                    <td>@svc.Name</td>
                    @foreach (var user in Model.Users)
                    {
                        var x = Tuple.Create(svc.Id, user.Id);
                        <td>@((Model.Status.ContainsKey(x) ? Model.Status[x] : 0).ToString("#.#"))</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>