﻿@using EVASPA.Model.ViewModel
@model ReportFilterModel
@{
    ViewBag.Title = "Báo cáo";

    var now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}

@Html.AddStyle("~/css/datepicker")
@Html.AddHeadScript("~/js/datepicker")

@Html.AddBodyScript(
    @<script>
         $(document).ready(function() {
             $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
         });         
     </script>
)

<h2>Báo cáo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Loại</label>
            <div class="col-md-10">
                <select name="Type">
                    <option value="0">Nhân viên</option>
                    <option value="1">Sản phẩm</option>
                    <option value="2">Dịch vụ</option>
                    <option value="4">Phiếu quà tặng</option>
                    <option value="8">Phiếu dịch vụ</option>
                    <option value="16">Nợ</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Từ ngày</label>
            <div class="col-md-10">
                <input type="text" name="startDate" class="datepicker" value="@startDate.ToString("dd/MM/yyyy")"/>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Đến ngày</label>
            <div class="col-md-10">
                <input type="text" name="endDate" class="datepicker" value="@endDate.ToString("dd/MM/yyyy")" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                @Html.CheckBox("ExportToExcel") Xuất file Excel
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đồng ý" class="btn btn-default" />
            </div>
        </div>
    </div>
}

