﻿@using EVASPA.Web.Utils
@using EVASPA.Model.ViewModel
@model ReportPrepaidServiceCardViewModel
@{
    ViewBag.Title = "Báo cáo phiếu dịch vụ";
    var totalMoney = 0M;
}

<h2>Báo cáo phiếu dịch vụ</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Từ ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.StartDate.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Đến ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.EndDate.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-1">Ngày</th>
            <th class="col-md-1">Hóa đơn</th>
            <th class="col-md-1">Loại phiếu</th>
            <th class="col-md-1">Phiếu</th>
            <th class="col-md-1">Hình thức</th>
            <th class="col-md-2">Khách hàng</th>
            <th class="col-md-2">Dịch vụ</th>
            <th class="col-md-2">Ghi chú</th>
            <th class="col-md-1">Số suất</th>
            <th class="col-md-1">Đơn giá</th>
            <th class="col-md-1">Giảm giá</th>
            <th class="col-md-1">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines.Where(x=>x.UseType != ReportPrepaidServiceCardViewModel.UseType.Use))
        {
            <tr>
            <td>@line.Date.ToString("dd/MM/yyyy")</td>
            <td>@(line.BillId != null ? line.BillId.Value.ToString("000000") : "")</td>
            <td>@line.PrepaidServiceCard.CardType.Name</td>
            <td>
                @line.PrepaidServiceCard.SerialNumber
                @if (line.PrepaidServiceCard.IsLocked) { <div><em class="red important">Đã khóa</em></div> }
            </td>
            <td>@(line.UseType == ReportPrepaidServiceCardViewModel.UseType.Import ? "Nhập" : line.UseType == ReportPrepaidServiceCardViewModel.UseType.Sell ? "Bán" : "Sử dụng")</td>
            <td>@Html.EvaSpa_GetCustomerName(line.Customer)</td>
            <td>@line.Service.Name</td>
            <td>@line.Note</td>
            <td class="number">@line.Quantity.ToString("#,0.##")</td>
            <td class="number">@line.Price.ToString("#,0.##")</td>
            <td class="number">@line.Discount.ToString("#,#")</td>
            <td class="number">@line.Money.ToString("#,0.##")</td>
        </tr>
            totalMoney += line.Money;
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@totalMoney.ToString("0,0")</th>
        </tr>
    </tfoot>
</table>
