﻿@using EVASPA.Web.Utils
@using EVASPA.Model.ViewModel
@model EVASPA.Model.ViewModel.ReportProductViewModel
@{
    ViewBag.Title = "Báo cáo sản phẩm";

    var totalMoney = 0M;
}

<h2>Báo cáo sản phẩm</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Từ ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.StartDate.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Đến ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.EndDate.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-1">Ngày</th>
            <th class="col-md-1">Kiểu</th>
            <th class="col-md-1">Hóa đơn</th>
            <th class="col-md-2">Khách hàng</th>
            <th class="col-md-2">Sản phẩm</th>
            <th class="col-md-2">Ghi chú</th>
            <th class="col-md-1">Số lượng</th>
            <th class="col-md-1">Đơn giá</th>
            <th class="col-md-1">Giảm giá</th>
            <th class="col-md-1">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr class="@line.Type">
                <td>@line.Date.ToString("dd/MM/yyyy")</td>
                <td>@(line.Type== ReportProductViewModel.Type.Import ?"Nhập hàng" : line.Type== ReportProductViewModel.Type.Sell ? "Bán hàng" : "Dùng kèm")</td>
                <td>@string.Format("{0:000000}",line.BillId)</td>
                <td>@Html.EvaSpa_GetCustomerName(line.Customer)</td>
                <td>@line.Product.Name</td>
                <td>@line.Note</td>
                <td class="number">@line.Quantity.ToString("#,0.##")</td>
                <td class="number">@line.Price.ToString("#,0.##")</td>
                <td class="number">@line.Discount.ToString("#,#")</td>
                <td class="number">@line.Money.ToString("#,0.##")</td>
            </tr>
            totalMoney += line.Money;
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@totalMoney.ToString("0,0")</th>
        </tr>
    </tfoot>
</table>

@Html.AddStyle(
    @<style>
        table.table tbody tr.Import {
            color:red;
        }
        table.table tbody tr.UsedInService, table.table tbody tr.UsedInPrepaidServiceCard {
            color: green;
        }
    </style>
)