﻿@using EVASPA.Web.Utils
@model EVASPA.Model.ViewModel.ReportServiceViewModel
@{
    ViewBag.Title = "Báo cáo dịch vụ";
    var totalMoney = 0M;
}

<h2>Báo cáo dịch vụ</h2>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label>Từ ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.StartDate.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"><label>Đến ngày:</label></div>
            <div class="col-md-3">
                @Model.FilterModel.EndDate.ToString("dd/MM/yyyy")
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-1">Ngày</th>
            <th class="col-md-1">Hóa đơn / Phiếu</th>
            <th class="col-md-2">Khách hàng</th>
            <th class="col-md-2">Dịch vụ</th>
            <th class="col-md-1">Ghi chú</th>
            <th class="col-md-2">Thực hiện</th>
            <th class="col-md-2">Dùng kèm</th>
            <th class="col-md-1">Số suất</th>
            <th class="col-md-1">Đơn giá</th>
            <th class="col-md-1">Giảm giá</th>
            <th class="col-md-1">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Lines)
        {
            <tr>
                <td>@line.Date.ToString("dd/MM/yyyy")</td>
                @if (line.BillId == null)
                {
                    <td>@line.PrepaidServiceCard.SerialNumber</td>
                }
                else
                {
                    <td>@line.BillId.Value.ToString("000000")</td>
                }
                <td>@Html.EvaSpa_GetCustomerName(line.Customer)</td>
                <td>@line.Service.Name</td>
                <td>@line.Note</td>
                <td>@string.Join(", ",line.Performers.Select(x=>x.DisplayName))</td>
                <td>@string.Join(", ",line.UsedProducts.Select(x=>x.Product.Name + " ("+x.Quantity+")"))</td>
                <td class="number">@line.Quantity.ToString("#,0.##")</td>
                <td class="number">@line.Price.ToString("#,0.##")</td>
                <td class="number">@line.Discount.ToString("#,#")</td>
                <td class="number">@line.Money.ToString("#,0.##")</td>
            </tr>
            totalMoney += line.Money;
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@totalMoney.ToString("0,0")</th>
        </tr>
    </tfoot>
</table>
