﻿.dl-horizontal { 
    dd { 
        /* copy as .clearfix https://github.com/twbs/bootstrap/blob/v2.3.0/less/mixins.less */
            *zoom: 1;
          &:before,
          &:after {
            display: table;
            content: "";
            // Fixes Opera/contenteditable bug:
            // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
            line-height: 0;
          }
          &:after {
            clear: both;
          }
    }
}

div.body {
    padding-top: 30px;
}

.sub {
    padding-left:20px;
}

.important {
    font-weight: bold;
}

.row {
    margin-top:4px;
}

.red, .import {
    color:red;
}

.green {
    color:green;
}

.table > thead, tfoot > tr {
    background-color: #b9c9fe;
}

.table-hover > tbody > tr:hover > td {
    background-color: #d0dafd;
}

input, textarea, select {
    padding: 4px;
    width: 220px;
    border-radius:4px;
    border:1px solid #cccccc;
}

input[type='checkbox'], input[type='radio'], input[type='submit'] {
    width: auto;
}

textarea {
    height:72px;
    max-height:110px;
    width: 300px;
    max-width:500px;
}

.customer-vip {
    /*.important;*/
    font-weight: bold;
}

.number {
    text-align: right;
    font-family: 'Courier New';
}

.dl-horizontal dt, dd {
    padding: 4px 10px;
}

.form-horizontal .control-label{
    padding-top:0px;
}

.form-group{
    line-height: 30px;
}

.badge-blue {
    background-color:blue;
}
.badge-green {
    background-color:green;
}
