﻿@model EVASPA.Model.DataModel.Leaving

@{
    ViewBag.Title = "Xóa nghỉ phép";
}

<h2>Xóa nghỉ phép</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveOnMorning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveOnMorning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveOnAfternoon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveOnAfternoon)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("<< Quay lại", "Index") |
            <input type="submit" value="Đồng ý xóa" class="btn btn-default" />
        </div>
    }
</div>
