﻿@using EVASPA.Model.DataModel
@model User

@{
    ViewBag.Title = "Chi tiết";
    var LeavingHistories = ViewBag.LeavingHistories as IEnumerable<Leaving>;
}

<h2>Chi tiết</h2>

<div>
    <h4>Nhân viên</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>

    </dl>
</div>
<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Nghỉ phép</strong></div>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-1">Ngày</th>
                <th class="col-md-1">Loại</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var leaving in LeavingHistories)
            {
                <tr>
                    <td>@leaving.Date.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (leaving.LeaveOnMorning) { <span class='badge badge-blue'>Sáng</span> }
                        @if (leaving.LeaveOnAfternoon) { <span class='badge badge-green'>Chiều</span> }
                    </td>
                    <td>
                        @Html.ActionLink("Xóa", "DeleteLeaving", new { id = leaving.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("<< Quay lại", "Index")
</p>
