﻿@using EVASPA.Model.DataModel
@model Leaving

@{
    ViewBag.Title = "Nghỉ phép";

    var user = ViewBag.user as User;
}

@Html.AddStyle("~/css/datepicker")
@Html.AddHeadScript("~/js/datepicker")

@Html.AddBodyScript(
    @<script>
        $(document).ready(function () {
            $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
        });
    </script>
)

<h2>Nghỉ phép</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class = "control-label col-md-2">Nhân viên</label>
            <div class="col-md-10">
                @user.DisplayName
            </div>
            <input type="hidden" name="UserId" value="@user.Id" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="datepicker" type="text" name="sDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveOnMorning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaveOnMorning)
                @Html.ValidationMessageFor(model => model.LeaveOnMorning)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveOnAfternoon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaveOnAfternoon)
                @Html.ValidationMessageFor(model => model.LeaveOnAfternoon)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đồng ý" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<< Quay lại", "Index")
</div>
