﻿@using EVASPA.Web.Utils
@using EVASPA.Model.ViewModel
@using EVASPA.Core.Service
@model EVASPA.Model.DataModel.Customer

@{
    ViewBag.Title = "Chi tiết";

    var service = ViewBag.Service as ICustomerService;
    var debtHistories = ViewBag.DebtHistories as IEnumerable<ReportDebtViewModel.ReportLine>;

    var debt = service.GetCurrentDebt(Model);
}

<h2>Chi tiết</h2>
<p>
    @Html.ActionLink("<< Quay lại", "Index")
</p>
<div>
    <h4>Khách hàng</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.EvaSpa_GetCustomerName(Model)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsVip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            <span>@(Model.Birthday.HasValue ? Model.Birthday.Value.ToString("dd/MM/yyyy") : "")</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            Nợ hiện tại
        </dt>

        <dd>
            @debt.ToString("#,0.##") @(debt > 0 ? Html.Raw("<span class='important'>(SPA nợ khách hàng)</span>") : debt < 0 ? Html.Raw("<span class='important'>(Khách hàng nợ SPA)</span>") : null)
        </dd>

    </dl>
</div>

<div>
    <h4>Lịch sử nợ</h4>
    <hr />
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-1">Ngày</th>
                <th class="col-md-1">Hóa đơn</th>
                <th class="col-md-1">Hình thức</th>
                <th class="col-md-1">Số tiền</th>
                <th class="col-md-4">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in debtHistories)
            {
                <tr>
                    <td>@(line.DebtHistoryId != null ? Html.ActionLink("Xóa", "DeleteDebtHistory", new { id = line.DebtHistoryId }) : null)</td>
                    <td>@line.Date.ToString("dd/MM/yyyy")</td>
                    <td>@(line.BillId != null ? line.BillId.Value.ToString("000000") : string.Empty)</td>
                    <td>@(line.IsPayDebt ? "Trả nợ" : "Nợ")</td>
                    <td class="number">@line.Money.ToString("#,#")</td>
                    <td>@line.Note</td>
                </tr>
            }
        </tbody>
    </table>
</div>
