﻿@using EVASPA.Web.Utils
@using EVASPA.Core.Service
@model IEnumerable<EVASPA.Model.DataModel.Customer>

@{
    ViewBag.Title = "Khách hàng";
    var service = ViewBag.Service as ICustomerService;
}

<h2>Khách hàng</h2>

<p>
    @Html.ActionLink("Thêm mới...", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th class="col-md-1">
                Nợ hiện tại
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.EvaSpa_GetCustomerName(item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td class="number">
                    @service.GetCurrentDebt(item).ToString("#,#")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @if (User.IsInRoles("Admin", "Manager"))
                    {
                        @Html.ActionLink("Trả nợ", "PayDebt", new { id = item.Id }) @:|
                    }
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
