﻿@using EVASPA.Model.DataModel
@using EVASPA.Web.Utils
@using EVASPA.Core.Service
@model DebtHistory

@{
    ViewBag.Title = "Trả nợ";

    var service = ViewBag.Service as ICustomerService;
    var customer = ViewBag.Customer as Customer;
}

@Html.AddStyle("~/css/datepicker")
@Html.AddHeadScript("~/js/datepicker")

@Html.AddBodyScript(
    @<script>
        $(document).ready(function () {
            $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });
        });
    </script>
    )

<h2>Trả nợ</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class = "control-label col-md-2">Khách hàng</label>
            <div class="col-md-10">
                @Html.EvaSpa_GetCustomerName(customer)
            </div>
            <input type="hidden" name="CustomerId" value="@customer.Id"/>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">Nợ hiện tại</label>
            <div class="col-md-10">
                @service.GetCurrentDebt(customer).ToString("#,0.##")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="sDate" class="datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Money, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Money" name="Money" type="number" step="1000" value="0" class="number valid">
                @Html.ValidationMessageFor(model => model.Money)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
