﻿@using EVASPA.Web.Utils
@model EVASPA.Model.DataModel.PrepaidServiceCard
<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Thông tin phiếu</strong></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CardType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer)
            </dt>

            <dd>
                @Html.EvaSpa_GetCustomerName(Model.Customer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoldDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoldDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellMoney)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellMoney)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Service)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Service.Name)
            </dd>
        </dl>
    </div>
</div>
