﻿@{
    ViewBag.Title = "Dùng phiếu dịch vụ";

    var msg = ViewBag.Msg as string ?? "";
}

<h2>Dùng phiếu dịch vụ</h2>

@using (Html.BeginForm("UseServiceCard", "PrepaidCard", FormMethod.Get))
{
    <hr />

    <div class="row">
        <div class="col-md-2"><label>Mã phiếu</label></div>
        <div class="col-md-3">
            <input name="id" type="text" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3 important red">
            @msg
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <input type="submit" value="Đồng ý" class="btn btn-primary" />
    </div>
}
