﻿@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h4>Bạn có muốn xóa việc sử dụng phiếu?</h4>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewBag.Id" />
        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý xóa" class="btn btn-default" />
        </div>
    }
</div>
