﻿@model EVASPA.Model.DataModel.PrepaidCard

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PrepaidCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quota)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
