﻿@using EVASPA.Model.DataModel
@using EVASPA.Web.Utils
@model PrepaidCard

@{
    ViewBag.Title = "Chi tiết phiếu";
}

<h2>Chi tiết phiếu</h2>
@if (Model.IsDeleted)
{
    <div style="text-align:center;">
        <h3 style="color:red;">Phiếu này đã bị xóa!</h3>
    </div>
}
<h4>@(Model is PrepaidMoneyCard ? "Phiếu quà tặng" : "Phiếu dịch vụ")</h4>
<hr />
<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Thông tin chung</strong></div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CardType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer)
            </dt>

            <dd>
                @Html.EvaSpa_GetCustomerName(Model.Customer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoldDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoldDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SellMoney)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SellMoney)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quota)
            </dd>


            @if (Model is PrepaidServiceCard)
            {
                var serviceCard = Model as PrepaidServiceCard;
                <dt>
                    @Html.DisplayNameFor(x => serviceCard.Service)
                </dt>

                <dd>
                    @Html.DisplayFor(x => serviceCard.Service.Name)
                </dd>
            }
            
            <dt>
                @Html.DisplayNameFor(x => Model.IsLocked)
            </dt>

            <dd>
                @if (Model.IsLocked)
                {
                    @Html.DisplayFor(x=>Model.IsLocked) @Html.ActionLink("Mở khóa phiếu", "LockCard", new { Model.Id }, new { style = "padding-left:30px;" })
                }
                else
                {
                    @Html.DisplayFor(x=>Model.IsLocked) @Html.ActionLink("Khóa phiếu", "LockCard", new { Model.Id }, new { style = "padding-left:30px;" })
                }
            </dd>
        </dl>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading text-warning"><strong>Lịch sử</strong></div>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-md-1">Ngày dùng</th>
                @if (Model is PrepaidMoneyCard)
                {
                    <th class="col-md-1">Hóa đơn</th>
                    <th class="col-md-2">Số tiền</th>
                }
                else if (Model is PrepaidServiceCard)
                {
                    <th class="col-md-1">Số suất</th>
                    <th class="col-md-2">Thực hiện</th>
                    <th class="col-md-2">Dùng kèm</th>
                }
                <th class="col-md-4">Ghi chú</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model is PrepaidMoneyCard)
            {
                var moneyCard = Model as PrepaidMoneyCard;
                foreach (var history in moneyCard.History.Where(x => !x.IsDeleted).OrderByDescending(x => x.Date))
                {
                    <tr>
                        <td>@Html.DisplayFor(x => history.Date)</td>
                        <td>@Html.ActionLink(history.UsedInBillId.ToString("#,0.##"), "Details", "Bill", new { id = history.UsedInBillId }, null)</td>
                        <td>@Html.DisplayFor(x => history.UsedAmount)</td>
                        <td>@Html.DisplayFor(x => history.Note)</td>
                    </tr>
                }
            }
            else if (Model is PrepaidServiceCard)
            {
                var serviceCard = Model as PrepaidServiceCard;
                foreach (var history in serviceCard.History.Where(x => !x.IsDeleted).OrderByDescending(x => x.Date))
                {
                    <tr>
                        <td>@Html.DisplayFor(x => history.Date)</td>
                        <td>@history.UsedAmount.ToString("#,0.##")</td>
                        <td>@string.Join(", ", history.Performers.Select(i => i.DisplayName))</td>
                        <td>@string.Join(", ", history.UsedProducts.Select(i => i.Product.Name +" ("+i.Quantity.ToString()+")"))</td>
                        <td>@Html.DisplayFor(x => history.Note)</td>
                        @if (User.IsInRoles("Admin", "Manager"))
                        {
                            <td>@Html.ActionLink("Xóa", "DeleteHistory", new { id = history.Id })</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("<< Quay lại", "Index")
</p>
