﻿@using EVASPA.Model.DataModel
@using EVASPA.Web.Utils
@model IEnumerable<PrepaidCard>

@{
    ViewBag.Title = "Phiếu hết hạn";

    var PrepaidCardStatuses = ViewBag.PrepaidCardStatuses as Dictionary<int, string> ?? new Dictionary<int, string>();
}

<h2>Phiếu hết hạn</h2>

<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                Khách hàng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Sử dụng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.EvaSpa_GetCustomerName(item.Customer)
                </td>
                @if (item is PrepaidMoneyCard)
                {
                    <td>
                        <div>Phiếu quà tặng - <strong>@item.CardType.Name</strong></div>
                        <div class="sub">Hạn mức: <em>@Html.DisplayFor(x => item.Quota)</em></div>
                    </td>
                }
                else if (item is PrepaidServiceCard)
                {
                    <td>
                        <div>Phiếu dịch vụ - <strong>@item.CardType.Name</strong></div>
                        <div class="sub">Dịch vụ: <em>@((item as PrepaidServiceCard).Service.Name)</em></div>
                        <div class="sub">Hạn mức: <em>@Html.DisplayFor(x => item.Quota)</em></div>
                    </td>
                }
                <td>@(item.IsLocked ? "Đã khóa" :string.Empty)</td>
                <td>@PrepaidCardStatuses[item.Id]</td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoldDate)
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })

                    @if (item is PrepaidServiceCard)
                    {
                        @:| @Html.ActionLink("Sử dụng", "UseServiceCard", new { id = item.SerialNumber })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
