﻿@{
    var isCardLocked = (bool)ViewBag.IsCardLocked;
    var title = isCardLocked ? "Mở khóa phiếu" : "Khóa phiếu";
    ViewBag.Title = title;
}

<h2>@title</h2>

<h4>Bạn có muốn @title.ToLower() <b>@ViewBag.CardSerial</b>?</h4>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@ViewBag.CardSerial" />
        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý" class="btn btn-default" />
        </div>
    }
</div>
