﻿@using EVASPA.Model.DataModel
@model PrepaidServiceCardHistory
@{
    ViewBag.Title = "Dùng phiếu dịch vụ";
    var prepaidCard = ViewBag.PrepaidCard as PrepaidServiceCard;
    var allEmployees = ViewBag.AllEmployees as IQueryable<User> ?? Enumerable.Empty<User>();
    var allProducts = ViewBag.AllProducts as IQueryable<Product> ?? Enumerable.Empty<Product>();
}

@Html.AddStyle("~/css/datepicker")
@Html.AddStyle("~/css/select")

@Html.AddHeadScript("~/js/datepicker")
@Html.AddHeadScript("~/js/select")

@Html.AddHeadScript("~/Scripts/UseProductInService.js")

@Html.AddBodyScript(
    @<script>
        $(document).ready(function () {
            $('.datepicker').datepicker({ format: 'dd/mm/yyyy' });

            $('.selectpicker').selectpicker();

            $('form').submit(function (event) {
                $('#cmdSubmit').attr("disabled", "disabled");

                event.preventDefault();

                var index = 0;
                $('#divUseProducts .useproduct:not(hidden)').each(function() {
                    $(this).find('[name^="UsedProducts"]').each(function () {
                        $(this).attr('name', $(this).attr('name').replace(/\[\d*\]/, '[' + index + ']'));
                    });
                    index++;
                });

                var form = $(this);
                var data = form.serializeArray();
                $.ajax({
                    url: form.attr('action'),
                    data: data,
                    type: "POST"
                })
                .done(function (data) {
                    if (data.success) {
                        window.location.replace(data.msg);
                    } else {
                        alert("Lỗi: " + data.msg);
                        $('#cmdSubmit').removeAttr("disabled");
                    }
                })
                .fail(function () {
                    alert('Không thể xử lý thông tin. Vui lòng thử lại sau.');
                    $('#cmdSubmit').removeAttr("disabled");
                });
            });
        });
    </script>
    )

<h2>Dùng phiếu dịch vụ</h2>
<hr />

@using (Html.BeginForm())
{
    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <input type="hidden" name="PrepaidServiceCardId" value="@prepaidCard.Id" />
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="col-md-3">
                @Html.TextBox("usedDate", DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "datepicker" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.UsedAmount)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.UsedAmount, new { type="number" })
                @Html.ValidationMessageFor(model => model.UsedAmount)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Performers)
            </div>
            <div class="col-md-3">
                <select name="PerformerIds" class="selectpicker show-tick" multiple="multiple" title="Chọn nhân viên" data-live-search="true">
                    @foreach (var item in allEmployees)
                    {
                        <option value="@item.Id">@item.DisplayName</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <label class="control-label col-md-2">Dùng kèm</label>
            <div class="col-md-7">
                <a href="#" onclick="UseNewProduct('UsedProducts[0].ProductId'); return false;">Thêm sản phẩm...</a>
            </div>
        </div>
        <div id="divUseProducts">
            <div class="row hidden useproduct">
                <div class="control-label col-md-2"></div>
                <div class="col-md-3 useproduct-allproducts">
                </div>
                <label class="control-label col-md-1">Số lượng</label>
                <input type="number" name="UsedProducts[0].Quantity" class="text-box single-line number col-md-1 quantity" style="width:80px;" value="0" step="1" />
                <a href="#" class="col-md-1" style="line-height: 34px;" onclick="$(this).parent().remove(); return false;">Xóa</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.Note)
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>
    </div>

    <div>
        <input id="cmdSubmit" type="submit" value="Đồng ý" class="btn btn-primary" />
    </div>
}

<hr />

@Html.Partial("_PrepaidServiceCardBasicInfo", prepaidCard)

<select id="AllProducts" class="hidden selectpicker show-tick" data-live-search="true">
    @foreach (var item in allProducts)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>