﻿@model EVASPA.Model.DataModel.ItemHistory

@{
    ViewBag.Title = "Xóa nhập hàng";
}

<h2>Xóa nhập hàng</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("<< Quay lại", "Index") |
            <input type="submit" value="Đồng ý xóa" class="btn btn-default" />
        </div>
    }
</div>
