﻿@using EVASPA.Model.DataModel
@model ItemHistory

@{
    ViewBag.Title = "Nhập";
    var itemModel = ViewBag.Item as Item;
    var returnUrl = Request.QueryString["returnUrl"];
}

@Html.AddHeadScript("~/js/datepicker")
@Html.AddStyle("~/css/datepicker")
@Html.AddBodyScript(
    @<script>
         $('.datepicker').datepicker({format:'dd/mm/yyyy'});
     </script>
)

<h2>Nhập</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@(itemModel is Product ? "Sản phẩm: " : "Loại phiếu: ") <span class="important">@itemModel.Name</span></h4>
        <hr />
        @Html.ValidationSummary(true)
        
        @Html.Hidden("returnUrl", returnUrl)
        @Html.Hidden("itemId", itemModel.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="date" class="datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đồng ý" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<< Quay lại", "RedirectToLocal", new { returnUrl })
</div>
