﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EVA SPA</title>

    @Html.AddStyle("~/Content/css")

    @Html.AddHeadScript("~/bundles/jquery", -9999)
    @Html.AddHeadScript("~/bundles/jqueryval", -9998)
    @Html.AddHeadScript("~/bundles/modernizr", -9997)
    @Html.AddHeadScript("~/bundles/bootstrap", -9996)

    @Html.RenderStyles()
    @Html.RenderHeadScripts()
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EVA SPA", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_Menu")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="body">
            @RenderBody()
        </div>
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EVA SPA</p>
        </footer>*@
    </div>

    @Html.RenderBodyScripts()
</body>
</html>
