﻿<ul class="nav navbar-nav">
    @if (User != null && User.Identity.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thao tác <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("Create", "Bill")'><span>Bán hàng</span></a></li>
                <li><a href='@Url.Action("UseServiceCard", "PrepaidCard", new {id = string.Empty})'><span>Sử dụng phiếu</span></a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("Index", "Product")'><span>Sản phẩm</span></a></li>
                <li><a href='@Url.Action("Index", "Service")'><span>Dịch vụ</span></a></li>
                <li><a href='@Url.Action("Index", "CardType")'><span>Loại phiếu</span></a></li>
                <li><a href='@Url.Action("Index", "PrepaidCard")'><span>Phiếu</span></a></li>
                <li><a href='@Url.Action("Index", "Customer")'><span>Khách hàng</span></a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Báo cáo <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("Index", "Bill", new {id = string.Empty})'><span>Xem hóa đơn</span></a></li>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <li><a href='@Url.Action("Index", "Report")'><span>Báo cáo</span></a></li>
                }
            </ul>
        </li>
        if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản trị <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href='@Url.Action("Index", "User")'><span>Nhân viên</span></a></li>
                    <li class='last'><a href='@Url.Action("Index", "Backup")'><span>Sao lưu</span></a></li>
                </ul>
            </li>
        }
    }
</ul>
